:root {
  --primary: #f875aa;
  --bg: #667bc6;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  /* background-color: var(--bg); */
}

div {
  padding: 2rem 9%;
}

.about h2 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}

.about span {
  color: var(--primary);
}


/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg);
  padding: 1.4rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--primary);
  color: #fff;
}

.navbar .navbar-logo {
  font-size: 4rem;
  color: #fff;
  font-weight: bolder;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: whitesmoke;
}

.navbar .navbar-extra a {
  font-size: 3rem;
  color: #fff;
  margin-left: 3rem;
  z-index: 999;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-extra a:hover {
  color: var(--primary);
  transition: 1s linear;
}

.navbar .navbar-extra a {
  font-size: 3rem;
  color: #fff;
  margin-left: 3rem;
  z-index: 999;
}

#hamburger-menu {
  display: none;
}


/* hero section */
.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../foto/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  max-width: 50rem;
}

.hero .content h1 {
  font-size: 6rem;
  color: #fff;
}

.hero .content span {
  font-size: 6.3rem;
  color: var(--primary);
}

.hero .content p {
  font-size: 2.4rem;
  color: whitesmoke;
  padding: 1rem 0;
  line-height: 1.5;
}


/* about section */
.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about h2 {
  color: var(--bg);
  background-color: white;
}

.about .row .about-img {
  flex: 1 1 40rem;
  position: relative;
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content p {
  font-size: 2rem;
  color: #999;
  padding: .5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}


/* product section */
.product {
  padding: 5rem 7%;
  text-align: center;
}

.product h2 {
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 4rem;
  font-family: 'Poppins', sans-serif;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.product .row .menu-card1,
.product .row .menu-card2,
.product .row .menu-card3,
.product .row .menu-card4,
.product .row .menu-card5,
.product .row .menu-card6 {
  background-color: #fff;
  border: 2px solid #fcd3e1;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 30rem;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product .row div:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.menu-card-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.menu-card-tittle {
  font-size: 2rem;
  color: #ff5e9c;
  margin-bottom: 1rem;
  font-weight: 600;
}

.menu-card-price {
  font-size: 1.8rem;
  color: #444;
  background-color: #aedefc33;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: inline-block;
}


/* contact section */
.contact h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  left: 0;
  right: 0;
  color: var(--bg);
}

.contact .row {
  display: flex;
  margin-top: 2rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--primary);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--bg);
  cursor: pointer;
}


/* footer */
footer {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 0.1;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}



/* media queris */
/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  nav,
  div {
    padding: 2rem;
  }

  .hero {
    background-position: left;
  }
}

/*tablet*/
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: whitesmoke;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero .content h1 {
    font-size: 5rem;
  }

  .hero .content span {
    font-size: 5.3rem;
  }
}

/*mobile*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar .navbar-nav {
    display: none;
    flex-direction: column;
  }
  .navbar .navbar-nav.active {
    display: flex;
  }

  .about {
    font-size: 3rem;
  }
}
